<form method="post" action="{{ path('app_univ22_delete', {'id': univ22.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ univ22.id) }}">
    <button class="btn">Delete</button>
</form>
